$primary-background-color: black;
$primary-color:  white;

$googl-signin-background-color: orangered;

$collection-item-background-color: white;
$collection-item-color: black;




@mixin button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}



.custom-button {
  background-color: $primary-background-color;
  color: $primary-color;
  @include button;
  }



.google-button{
  @include button;
  color: $primary-color;
  background-color: $googl-signin-background-color;
}


.inverted{
  background-color: $collection-item-background-color;
  color: $collection-item-color;
  @include button;

  &:hover {
    background-color: black;
    color: white;
    border: 1px solid black;
  }
}

